body {
    background-color: darkblue;
    overflow:hidden;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;    
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;

}

#totalPrice {
    width:150px;
    height: 190px;
    margin: 40px auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}   

.right {
    width: 200px;
    height: 200px;
    float: right;
}

input[type="radio"], [type="checkbox"] {
    accent-color: black;
}

#showText {
    width:200px;
    height: 190px;
    margin: 0px auto;   
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
   margin: 10px 0px 0px 100px;
   width: 100px;
   height: 40px;
   margin: 25px auto;
   display: block;
}