@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to my new ASP.Net Core web app!</h1>
    <h2>This was not very hard at all!</h2>
    <h4>The current server time is: @DateTime.Now.ToShortTimeString().</h4>
</div>