
@{
   ViewBag.Title = "About";
}

<body>   
    <div class="about-background"><img src="~/Content/images/theater.jpg" class="cms-bg-main"></div>
    
    <div class="about-container cms-text-dark">

        <h2 class="cms-text-light">About Us</h2>

        <h3 class="cms-text-light">WHO WE ARE</h3>
        <p class="cms-text-light">We seek to engage audiences through ensemble-driven productions with a focus on developing new works.</p>

        <h3 class="cms-text-light">Company History</h3>
        <p class="cms-text-light">
            In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers. Since then ,
            Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.
        </p>

        <h3 class="cms-text-light">ENSEMBLE</h3>
        <div class="about-photos">
            <img src="~/Content/images/Cast_Img_1.png" class="cms-bg-main">
            <img src="~/Content/images/Cast_Img_3.png" class="cms-bg-main">
            <img src="~/Content/images/Cast_Img_6.png" class="cms-bg-main">
            <img src="~/Content/images/Cast_Img_7.png" class="cms-bg-main">
        </div>

        <h3 class="cms-text-light">BOARD</h3>
        <p class="cms-text-light">Jamie Floyed (President)</p>
    </div>
</body>

