/***********adding style to my HTML***************/
div {
    text-align: center;
    margin-top: 20px;
}
input {
    width: 32px;
    padding: 0px 2px;
    border: 2px black solid;
}
button {
    margin-left: 2px;
    border-radius: 6px;
    border: 2px black solid;
}
h3 {
    margin-top: 80px;
}
h3, h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;
}