/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/


.RentalHistory-create--title {
    font-family: Broadway;
    padding-top: 80px;
    padding-bottom: 10px;
}

.RentalHistory-create--form {
    background-color: var(--main-color--light);
    padding: 10px;
    border-radius: 20px;
    max-width: 600px;
}

.RentalHistory-backToList-button {
    color: var(--light-color);
}

    .RentalHistory-backToList-button :link {
        text-decoration: none;
    }

    .RentalHistory-backToList-button :visited {
        text-decoration: none;
        color: var(--light-color);
    }

    .RentalHistory-backToList-button :hover {
        text-decoration: none;
    }

#RentalHistory-create--damagesIncurredLabel {
    display: none;
}

#RentalHistory-create--notesLabel {
    display: block;
}

.RentalHistory-index--table {
    background-color: var(--light-color);
    margin-top: 30px;
}

#RentalHistory-index--SortedBy {
    float: right;
}

.RentalHistory-index--title {
    font-family: Broadway;
    padding-top: 80px;
    padding-bottom: 10px;
}

.RentalHistory-index--rental {
    font-size: 15px;
    font-weight: bold;
    padding: .35em;
}

.RentalHistory-index--dropdownMenuButton {
    display: none;
}