@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center RentalHistory-index--title">
    <h1>Rental History</h1>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table RentalHistory-index--table">
    <tr>
        <td colspan="3">
            Most recent Rental Histories
        </td>
        <td colspan="2" id="RentalHistory-index--SortedBy">
            <label for="sortingCriteria">Sorted by:</label>
            <select id="sortingSelect" class="form-control" name="sortingCriteria">
                <option value="nosorting">No Extra Sorting...</option>
                <option value="damagedrentals">Damaged Rentals</option>
                <option value="undamagedrentals">Undamaged Rentals</option>
                <option value="rentalsAtoZ">Rentals A to Z</option>
                <option value="rentalsZtoA">Rentals Z to A</option>
            </select>
        </td>
    </tr>
    @Html.Partial("_RentalHistoriesPartial")
</table>
