/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
:root { /* Color palette for css */
--main-color: #BD1A11; /* Red */
--main-color--light: #F04D44; /* Red, a shade lighter */
--secondary-color: #D6972A; /* Yellow gold */
--light-color: #FFFBFB; /* White */
--dark-color: #000000; /* Black */
--secondary-color--dark: #9D7C39; /* Dark Gold */
--light-blue: rgb(93, 123, 244) /*Light Blue - Added color on top of original*/

/*Index Page Section*/
}
.prod-text-light {
    color: var(--light-color);
}

.title-change{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.create-button {
    background-color: #D6972A;
    color: black;
    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
}

body {
    color: var(--light-color);
}

.wide-placeholder {
    width: 300px;
    max-width: 100%;
}

.card-footer-container {
    border: 5px solid #D6972A;
    padding: 10px;
}

.text-dark {
    margin-right: 100px;
    margin-left: 100px;
    background-color: white;
}

.CRUD-layout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; 
}
.action-link {
    padding: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
}

.card-change {
    margin-bottom: 30px;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: darkred;
    margin-top: 20px;
    margin-right: 120px;
}

.badge-layout{
    transform: scale(0.5);
    margin-right: 50px;
}
/*End Index Page Section*/
/*Create Page Section*/
.form-contanier {
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: darkred;
    margin-top: 20px;
    margin-right: 120px;
}

.form-control:focus {
    border-color: black;
    outline: 0;
    box-shadow: 0 0 50px;
    border-width: 3px;
    background-color: lightgrey;
}

.btn-create {
    border: 2px solid #fff; 
    background-color: #D6972A; 
    color: black; 
    font-weight: bold; 
    padding: 10px 38px; 
    border-radius: 5px; 
    cursor: pointer; 
}

    .btn-create:hover {
        background-color: #ffcc00; 
    }

.custom-checkbox {
    transform: scale(2);
    margin-left: 5px;
}

.btn-back-to-list {
    background-color: #D6972A;
    color: black;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 13px;
    font-weight: bold;
}

    .btn-back-to-list:hover {
        background-color: #ffcc00; 
    }

/* End Create Page Section */