
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>You are not authorized to access this page.</h1>
    <img src="~/Content/images/access_denied.png" alt="" style="transform: scale(0.2)">
    <a href="@Url.Action("Login", "Account", new { area = "" })">Log in</a>
</div>