@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to my favorite music video!</h1>
    <h2>My First JavaScript Animation</h2>

<div id="myContainer">
    <div id="myAnimation"></div>
    <div id="video">
        <iframe width="450" height="336" frameborder="0"
                src="https://www.youtube.com/embed/27NMF6u14DU?1controls=0">
        </iframe>
    </div>
</div>
