@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog Authors Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn create-btn" })
    </p>

    <div class="row justify-content-md-center">
        @foreach (var author in Model)
        {
            @Html.Partial("_BlogAuthor", author)
        }
    </div>
}

